html, body { font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
.blue-dark-bg { background-color: rgb(36, 50, 56); color: rgb(255, 255, 255); }
:not(pre) > code[class*="language-"], pre[class*="language-"] { display: flex; background: rgb(45, 45, 45) none repeat scroll 0% 0%; border: 5px solid rgb(103, 160, 95); font-family: Consolas, Monaco, "Andale Mono", monospace; font-size: 12px; }
.text-line-none { text-decoration: none !important; }
.main-header { position: fixed; top: 0px; left: 0px; height: 70px; width: 100%; z-index: 2; background-color: rgb(36, 50, 56); }
.main-header-nav-visible { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.w-auto { width: auto !important; max-width: none !important; }
.br-none { border-radius: 0px !important; }
.brt-none { border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }
@media only screen and (min-width: 1024px) {
  .main-header { height: 70px; }
}
.main-header-container { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: justify; justify-content: space-between; height: 100%; }
.logo svg { display: block; fill: rgb(22, 31, 40); }
.main-nav-trigger { background: rgb(216, 218, 219) none repeat scroll 0% 0%; border-radius: 4px; width: 80px; height: 30px; position: relative; overflow: hidden; border: 0px none; outline: currentcolor none 0px !important; box-shadow: none !important; }
.main-nav-trigger i, .main-nav-trigger em { position: absolute; width: 100%; height: 100%; left: 0px; text-align: center; line-height: 30px; transition: top 0.3s ease 0s; }
.main-nav-trigger i { top: 0px; }
.main-nav-trigger em { top: 100%; }
.main-header-nav-visible .main-nav-trigger i { top: -100%; }
.main-header-nav-visible .main-nav-trigger em { top: 0px; }
@media only screen and (min-width: 1024px) {
  .main-nav-trigger { display: none; }
}
.main-nav-list { display: none; position: absolute; top: 70px; right: 0px; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-top: 1px solid rgb(216, 218, 219); border-bottom: 1px solid rgb(216, 218, 219); box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px; z-index: 2; }
.main-header-nav-visible .main-nav-list { display: block; }
.main-nav-list ul { width: 90%; max-width: 1280px; margin: 0px auto; list-style: outside none none; padding: 0px; }
.main-nav-list li:last-child a { border-bottom: 0px none; }
.main-nav-list a:not(.btn) { display: block; padding: 15px 15px 15px 0px; font-size: 14px; text-decoration: none; color: rgb(22, 31, 40); border-bottom: 1px solid rgb(216, 218, 219); }
.main-nav-list a:not(.btn):hover, .main-nav-list a:not(.btn).current { color: rgb(252, 67, 72); }
@media only screen and (min-width: 1024px) {
  .main-nav-list { display: inline-block !important; border: 0px none; position: static; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; margin-right: -10px; box-shadow: none; }
  .main-nav-list ul { width: auto; max-width: none; margin: 0px; display: flex; -moz-box-align: center; align-items: center; }
  .main-nav-list li { margin-left: 1.2em; }
  .main-nav-list li:first-child { margin-left: 0px; }
  .main-nav-list a:not(.btn) { display: inline-block; border: 0px none; white-space: nowrap; padding: 4px; text-transform: uppercase; font-size: 15px; letter-spacing: 1px; transition: all 0.2s ease 0s; }
  .main-nav-list .main-nav__social:hover { opacity: 0.6; }
  .main-nav-list .main-nav__social span { opacity: 0; position: absolute; user-select: none; height: 0px; width: 0px; overflow: hidden; white-space: nowrap; pointer-events: none; }
}
.main-header-light { -moz-osx-font-smoothing: grayscale; }
.main-header-light .logo svg { fill: rgb(255, 255, 255); }
.main-header-light.main-header-nav-visible .logo svg { fill: rgb(22, 31, 40); }
.main-header-dark .main-nav-trigger { background: rgb(22, 31, 40) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
@media only screen and (min-width: 1024px) {
  .main-header-light .main-nav-list a:hover, .main-header-dark .main-nav-list a:hover { opacity: 0.6; }
  .main-header-light .logo svg { fill: rgb(255, 255, 255) !important; }
  .main-header-light .main-nav-list a:not(.btn) { color: rgb(255, 255, 255); }
  .main-header-light .main-nav-list a:not(.btn).current { color: rgb(67, 182, 226); }
  .main-header-light .main-nav-list .icon-twitter { background-position: 0px -24px; }
  .main-header-light .main-nav-list .icon-facebook { background-position: -48px -24px; }
  .main-header-dark .main-nav-list a:not(.btn) { color: rgb(22, 31, 40); }
}
.main-nav-list a.btn { font-family: arial; }
.home-intro { text-align: center; padding-top: 50px; display: inline-block; width: 100%; padding-bottom: 50px; }
.home-intro h1 { margin-bottom: 25px; }
@media only screen and (max-width: 600px) {
  .home-intro h1 { font-size: 30px; }
}
.intro-btn-group { text-align: center; list-style: outside none none; padding: 0px; }
.intro-btn-group li { max-width: 250px; margin: 15px auto; }
@media only screen and (min-width: 600px) {
  .intro-btn-group li { display: inline-block; margin: 0px 6px; }
}
@supports (grid-area: auto) {
  .intro-btn-group { display: grid; -moz-box-pack: center; justify-content: center; gap: 10px; grid-template-columns: repeat(auto-fit, 250px); position: relative; z-index: 1; }
  .intro-btn-group li { margin: 0px; }
  .intro-btn-group .btn { padding-right: 0px; padding-left: 0px; }
}
.intro-img { max-width: 656px; margin: -50px auto 0px; }
.intro-intro-img-wrapper { position: relative; height: 0px; padding-bottom: 45.43%; }
.intro-intro-img-wrapper svg { display: block; position: absolute; top: 0px; left: 0px; width: 100%; }
/*.height-vh { min-height: 100vh; }*/
.home-demo { background-color: rgb(0, 150, 136); color: rgb(255, 255, 255); }
.home-demo .content { margin: auto; padding: 20px 20px 35px; max-width: 650px; }
.home-demo h2 { font-size: 36px; margin: 20px auto 10px; text-align: center; font-weight: bold; color: rgb(255, 255, 255); }
.home-demo p { font-size: 16px; font-weight: 700; line-height: 1.5; margin-bottom: 15px; margin-top: 15px; text-align: center; }
.home-demo hr { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; height: 1px; margin: 40px 0px; }
.home-demo.home-odd { background-color: rgb(255, 255, 255); color: rgb(97, 97, 97); min-height: 100vh; }
.home-demo.home-odd h2 { color: rgb(97, 97, 97); }
.home-demo.home-odd hr { background: rgb(176, 190, 197) none repeat scroll 0% 0%; }
.settings { display: block; font-weight: bold; }
.settings > span { display: block; color: rgb(227, 242, 253); margin-top: 10px; margin-bottom: 5px; font-weight: normal; }
.settings a:not(.btn) { color: rgb(0, 77, 64); }
.settings > span > span { display: inline-block; font-weight: bold; color: rgb(255, 255, 255); margin-right: 5px; }
.settings > span:nth-child(4), .settings > span:nth-child(5) { font-weight: normal; font-size: 15px; color: rgb(255, 255, 255); font-style: italic; }
.settings-example { padding: 0px; border: 4px solid rgb(255, 255, 255); margin-top: 20px; }
.settings-example > h4 { background-color: rgb(255, 255, 255); color: rgb(45, 45, 45); text-align: center; margin: 0px; padding: 8px 10px; font-size: 18px; font-weight: bold; }
.settings-example > pre { margin: 0px; border: 0px none; }
.tempaltes-list .card { border: 0px none; border-radius: 0px; }
.tempaltes-list img.card-img-top { border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentcolor; border-style: solid solid none; border-width: 2px 2px 0px; border-image: none 100% / 1 / 0 stretch; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.footer { background: rgb(36, 50, 56) none repeat scroll 0% 0%; color: rgba(255, 255, 255, 0.6); padding: 15px 0px; }
.footer a { color: rgb(64, 186, 189); }
.footer .fa-heart { color: rgb(234, 83, 149); }